.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: aliceblue;
}

.btn{
  padding-left: 35px;
  padding-right: 35px;
  border: 2px;
  font-family: zedya;
  font-size: 15px;
  color: black;
  background-color: #fcdc1f;
  font-weight: 700;
  font-style: italic;
  
}
.btn:hover{
  color: rgb(255, 255, 255);
  animation: normal;
}

button.btn-btn-primary{
  color: white;
  background-color: blue;
  width: 200px; 
  border: 2px solid black;    
  padding: 10px;
  border-radius: 15px;
} 
button{
  width: 50px;
}